
*.user
*.filters
*.vcxproj
*.pdb
*.idb
*.log
*.ilk
*.recipe
*.lastbuildstate
*.tlog
*.obj
*.sln
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
SistemaControlAereo/.vs/SistemaControlAereo/v16/.suo
*.exe
SistemaControlAereo/Debug/SistemaControlAereo.vcxproj.FileListAbsolute.txt
